<section class="about" >
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="about-img mb-5 mb-lg-0" data-aos="fade-right" data-aos-delay="200">
					<img src="images/about/home-8.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-item pl-3 mt-4 mt-lg-0">
					<h2 class="mt-3 mb-4 font-secondary"> Forget about <br>design limits! Build and customize your portfolio</h2>
					<p class="mb-5">We provide consulting services in the area of IFRS and management reporting, helping companies to reach their highest level. We optimize business processes, making them easier.</p>

					<a href="#" class="btn btn-main">Get started</a>
				</div>
			</div>
		</div>
	</div>
</section>


