<div class="row">
	<div class="col-lg-6 col-md-6 mb-5">
		<div class="blog-item text-center ">
			<img src="images/blog/1.jpg" alt="" class="img-fluid mb-4 rounded">

			<span class="letter-spacing text-color text-sm text-uppercase">Creativity</span>
			<h3 class="mb-1"><a href="blog-single.html">Improve design with typography?</a></h3>
			<div class="blog-item-meta ">
				<span class="text-uppercase text-sm mr-3 letter-spacing">by themefisher</span>
				<span class="text-uppercase text-sm letter-spacing"><i class="ti-time mr-1"></i> January 28,2019</span>
			</div> 
			
			<p class="mt-3 mb-4">Ipsa quasi corporis impedit dicta ipsam libero eum fuga nemo qui magnam! Et molestiae hic alias, laborum cumque saepe error fugiat. Cupiditate!</p>

			<a href="blog-single.html" class="btn btn-main">Read More</a>
		</div>
	</div>

	<div class="col-lg-6 col-md-6 mb-5">
		<div class="blog-item text-center">
			<img src="images/blog/2.jpg" alt="" class="img-fluid mb-4 rounded">

			<span class="letter-spacing text-color text-sm text-uppercase">Makreting</span>
			<h3 class="mb-1"><a href="blog-single.html">Marketing strategy your should know</a></h3>
			<div class="blog-item-meta ">
				<span class="text-uppercase text-sm mr-3 letter-spacing">by themefisher</span>
				<span class="text-uppercase text-sm letter-spacing"><i class="ti-time mr-1"></i> January 28,2019</span>
			</div> 
			
			<p class="mt-3 mb-4">Ipsa quasi corporis impedit dicta ipsam libero eum fuga nemo qui magnam! Et molestiae hic alias, laborum cumque saepe error fugiat. Cupiditate!</p>

			<a href="blog-single.html" class="btn btn-main">Read More</a>
		</div>
	</div>

	<div class="col-lg-6 col-md-6 mb-5">
		<div class="blog-item text-center">
			<img src="images/blog/3.jpg" alt="" class="img-fluid mb-4 rounded">

			<span class="letter-spacing text-color text-sm text-uppercase">skill</span>
			<h3 class="mb-1"><a href="blog-single.html">Skill to grow business rapidly</a></h3>
			<div class="blog-item-meta ">
				<span class="text-uppercase text-sm mr-3 letter-spacing">by themefisher</span>
				<span class="text-uppercase text-sm letter-spacing"><i class="ti-time mr-1"></i> January 28,2019</span>
			</div> 
			
			<p class="mt-3 mb-4">Ipsa quasi corporis impedit dicta ipsam libero eum fuga nemo qui magnam! Et molestiae hic alias, laborum cumque saepe error fugiat. Cupiditate!</p>

			<a href="blog-single.html" class="btn btn-main">Read More</a>
		</div>
	</div>

	<div class="col-lg-6 col-md-6 mb-5">
		<div class="blog-item text-center">
			<img src="images/blog/4.jpg" alt="" class="img-fluid mb-4 rounded">

			<span class="letter-spacing text-color text-sm text-uppercase">Creativity</span>
			<h3 class="mb-1"><a href="blog-single.html">Research your competitor result</a></h3>
			<div class="blog-item-meta ">
				<span class="text-uppercase text-sm mr-3 letter-spacing">by themefisher</span>
				<span class="text-uppercase text-sm letter-spacing"><i class="ti-time mr-1"></i> January 28,2019</span>
			</div> 
			
			<p class="mt-3 mb-4">Ipsa quasi corporis impedit dicta ipsam libero eum fuga nemo qui magnam! Et molestiae hic alias, laborum cumque saepe error fugiat. Cupiditate!</p>

			<a href="blog-single.html" class="btn btn-main">Read More</a>
		</div>
	</div>
</div>