<section class="section feature pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 text-center mb-4 mb-lg-0 col-md-6" data-aos="fade-right" data-aos-delay="200">
				<span class="text-lg font-weight-bold">01</span>
				<h3 class="mt-2 mb-4">Discuss with us</h3>
				<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart</p>
			</div>
			<div class="col-lg-4 text-center mb-4 mb-lg-0 col-md-6" data-aos="fade-right" data-aos-delay="400" >
				<span class="text-lg font-weight-bold">02</span>
				<h3 class="mt-2 mb-4">Choose your perfect plan</h3>
				<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart</p>
			</div>
			<div class="col-lg-4 text-center col-md-6" data-aos="fade-right" data-aos-delay="600" >
				<span class="text-lg font-weight-bold">03</span>
				<h3 class="mt-2 mb-4">Start your project</h3>
				<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart</p>
			</div>
		</div>
	</div>
</section>