<!-- footer Start -->
<footer class="footer section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 ml-auto col-sm-6">
				<div class="widget">
					<div class="logo mb-4">
						<h3 class="text-white">Enov.</span></h3>
					</div>
					<a href="tel:+23-345-67890" class="text-white">Support@sulfur.com</a>
					<p class="mt-4 mb-3">290 Maryam Springs 260,Courbevoie, Paris, France</p>
					<a href="tel:+23-456-6588"><span class="text-white h4">+23-456-6588</span></a>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget text-white">
					<h4 class="text-capitalize mb-4 text-white">Company</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget">
					<h4 class="text-capitalize mb-4 text-white">Quick Links</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Team</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget">
					<h4 class="text-capitalize mb-4 text-white">Follow us</h4>
					<ul class="list-unstyled footer-socials">
						<li><a href="https://www.facebook.com/themefisher"><i class="ti-facebook mr-2 text-muted"></i>facebook</a></li>
						<li><a href="https://twitter.com/themefisher"><i class="ti-twitter mr-2 text-muted"></i>Twitter</a></li>
						<li><a href="https://github.com/themefisher/"><i class="ti-github mr-2 text-muted"></i>Github</a></li>
						<li><a href="https://dribbble.com/themefisher/"><i class="ti-dribbble mr-2 text-muted"></i>Dribble</a></li>
					</ul>
					
				</div>
			</div>
		</div>
		
		<div class="footer-btm pt-4 pb-3">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="copyright">
						<p>&copy; Copyright Reserved to Sulfur by <a href="https://themefisher.com/" target="_blank" class=" text-white">Themefisher</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>