<section class="section bg-gray blog-latest">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="section-title" >
					<h2 class="content-title mb-4">Latest News & Articles</h2>
					<p>Don’t just take our words for it. Our clients are our biggest supporters. Would you like to know what they think about us?</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="shadow-sm-2 blog-item bg-white rounded" data-aos="fade-up" data-aos-delay="200"  data-aos-duration="500" >
					 <img src="images/blog/grid-post-2-min.jpg" class="img-fluid rounded-top" alt="...">
				    <div class="p-4">
				    	<div class="d-flex w-100 justify-content-between">
						      <span class="text-black">Marketing</span>
						      <span >by jonas talk</span>
						      <span >3 days ago</span>
					    </div>
				    	<h3 class="mb-2 mt-2"><a href="blog-single.html">Brand your identity with sulfur</a></h3>
					    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, placeat.</p>
					   <a href="blog-single.html" class="btn btn-main">Read More</a>
				    </div>
				</div>
			</div>	
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="shadow-sm-2 blog-item bg-white rounded" data-aos="fade-up" data-aos-delay="300"  data-aos-duration="500">
					 <img src="images/blog/grid-post-3-min.jpg" class="img-fluid rounded-top" alt="...">
				    <div class="p-4">
				    	<div class="d-flex w-100 justify-content-between">
						      <span class="text-black">Development</span>
						      <span>by jonas talk</span>
						      <span >3 days ago</span>
					    </div>
				    	<h3 class="mb-2 mt-2"><a href="blog-single.html">Develop your website quickly</a></h3>
					    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, placeat.</p>
					    <a href="blog-single.html" class="btn btn-main">Read More</a>
				    </div>
				</div>
			</div>	
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="shadow-sm-2 blog-item bg-white rounded" data-aos="fade-up" data-aos-delay="400"  data-aos-duration="500">
					 <img src="images/blog/grid-post-2-min.jpg" class="img-fluid rounded-top" alt="...">
				    <div class="p-4">
				    	<div class="d-flex w-100 justify-content-between">
						      <span class="text-black">Design</span>
						      <span >by jonas talk</span>
						      <span >3 days ago</span>
					    </div>
				    	<h3 class="mb-2 mt-2"><a href="blog-single.html">Improve design typography </a></h3>
					    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, placeat.</p>
					    <a href="blog-single.html" class="btn btn-main">Read More</a>
				    </div>
				</div>
			</div>	
		</div>
	</div>
</section>
