<div class="sidebar-wrap mt-5 mt-lg-0">
	<div class="sidebar-widget search mb-5">
		<input type="text" class="form-control" placeholder="search">
		<a href="#" class="btn btn-dark d-block mt-2">search</a>
	</div>

	<div class="sidebar-widget mb-5 text-center">
		<img src="images/blog/abou-us.png" alt="" class="img-fluid mx-auto">
		<h4 class="mb-2 mt-4">Arther Conal</h4>

		<ul class="list-inline author-socials">
			<li class="list-inline-item mr-3">
				<a href="#"><i class="fab fa-facebook-f text-muted"></i></a>
			</li>
			<li class="list-inline-item mr-3">
				<a href="#"><i class="fab fa-twitter text-muted"></i></a>
			</li>
			<li class="list-inline-item mr-3">
				<a href="#"><i class="fab fa-linkedin-in text-muted"></i></a>
			</li>
			<li class="list-inline-item mr-3">
				<a href="#"><i class="fab fa-pinterest text-muted"></i></a>
			</li>
			<li class="list-inline-item mr-3">
				<a href="#"><i class="fab fa-behance text-muted"></i></a>
			</li>
		</ul>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolore.</p>
			
	</div>

	<div class="sidebar-widget latest-post mb-4">
		<h5 class="text-center mb-4">Latest Posts</h5>

        <div class="media border-bottom py-3">
            <a href="#"><img class="mr-4 rounded" src="images/blog/bt-3.jpg" alt=""></a>
            <div class="media-body">
                <h6 class="my-2"><a href="#">Thoughtful living in los Angeles</a></h6>
                <span class="text-sm text-muted">03 Mar 2018</span>
            </div>
        </div>

        <div class="media border-bottom py-3">
            <a href="#"><img class="mr-4 rounded" src="images/blog/bt-2.jpg" alt=""></a>
           <div class="media-body">
                <h6 class="my-2"><a href="#">Vivamus molestie gravida turpis.</a></h6>
                <span class="text-sm text-muted">03 Mar 2018</span>
            </div>
        </div>

        <div class="media py-3">
            <a href="#"><img class="mr-4 rounded" src="images/blog/bt-1.jpg" alt=""></a>
            <div class="media-body">
                <h6 class="my-2"><a href="#">Fusce lobortis lorem at ipsum semper sagittis</a></h6>
                <span class="text-sm text-muted">03 Mar 2018</span>
            </div>
        </div>
	</div>

	<div class="sidebar-widget category mb-4">
		<h5 class="mb-4 text-center">Catgeory</h5>
		<ul class="list-group">
		  <li class="list-group-item d-flex justify-content-between align-items-center">
		    Cras justo odio
		    <span class="badge badge-primary badge-pill">14</span>
		  </li>
		  <li class="list-group-item d-flex justify-content-between align-items-center">
		    Dapibus ac facilisis in
		    <span class="badge badge-primary badge-pill">2</span>
		  </li>
		  <li class="list-group-item d-flex justify-content-between align-items-center">
		    Morbi leo risus
		    <span class="badge badge-primary badge-pill">1</span>
		  </li>
		</ul>
	</div>

	<div class="sidebar-widget tags mb-3">
		<h5 class="mb-4 text-center">Tags</h5>

		<a href="#">Web</a>
		<a href="#">agency</a>
		<a href="#">company</a>
		<a href="#">creative</a>
		<a href="#">html</a>
		<a href="#">Marketing</a>
		<a href="#">Social Media</a>
		<a href="#">Branding</a>
	</div>
</div>