
<section class="section pricing position-relative">
	<div class="hero-img bg-overlay h70"></div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<h2 class="mb-3 text-white">Pricing Plan</h2>
                    <p class="text-white-50">Eaque laborum distinctio nostrum sint harum quam error qui ad, odio laudantium debitis velit et sunt, amet modi fugit, officia. Voluptate, voluptatum.</p>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card text-center mb-md-0 mb-3 border-0 shadow-sm-2" data-aos="fade-down" data-aos-delay="100" data-aos-offset="200" >
                    <div class="card-body py-5">
                        <div class="pricing-header mb-5">
                           <span class="mb-3 h5 plan">Free</span>
                            <p class="text-muted">User / Month</p>
                            <h1>$0</h1>
                           
                        </div>
                        <strong>Includes:</strong>
                        <ul class="list-unstyled lh-45 mt-3 text-black">
                            <li>Up to 1 User</li>
                            <li>Max 100 Item</li>
                            <li>500 Queries</li>
                            <li>Basic Statistics</li>
                        </ul>
                        <a href="#" class="btn btn-solid-border mt-3">Join Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card text-center mb-md-0 mb-3 border-0 shadow-sm-2" data-aos="fade-down" data-aos-delay="300" data-aos-offset="200" >
                    <div class="card-body py-5">
                        <div class="pricing-header mb-5">
                            <span class="mb-3 h5 plan">Basic</span>
                            <p class="text-muted">User / Month</p>
                            <h1>$12</h1>
                        </div>
                        <strong>Includes:</strong>
                        <ul class="list-unstyled lh-45 mt-3 text-black">
                            <li>Up to 5 User</li>
                            <li>Max 1000 Item</li>
                            <li>5000 Queries</li>
                            <li>Standard Statistics</li>
                        </ul>
                        <a href="#" class="btn btn-main mt-3">Join Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card text-center mb-md-0 mb-3 border-0 shadow-sm-2 mt-5 mt-lg-0" data-aos="fade-down" data-aos-delay="500" data-aos-offset="200">
                    <div class="card-body py-5">
                        <div class="pricing-header mb-5">
                            <span class="mb-3 h5 plan">Premium</span>
                            <p class="text-muted">User / Month</p>
                            <h1>$39</h1>
                        </div>
                        <strong>Includes:</strong>
                        <ul class="list-unstyled lh-45 mt-3 text-black">
                            <li>Unlimited User</li>
                            <li>Unlimited Item</li>
                            <li>Unlimited Queries</li>
                            <li>Full Statistics</li>
                        </ul>
                        <a href="#" class="btn btn-solid-border mt-3 ">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>

