
<section class="section pricing bg-primary position-relative">
	<div class="hero-img bg-overlay"></div>
	<div class="container">
		<div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title" >
                    <h2 class="text-white mb-4">Business plan</h2>
                    <p class="text-white-50">We provide a wide range of creative services adipisicing elit. Autem maxime rem modi eaque, voluptate. Beatae officiis neque </p>
                </div>
            </div>
		</div>

		<div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card text-center mb-lg-0 mb-3" data-aos="fade-down" data-aos-delay="100"  >
                    <div class="card-body py-5">
                        <div class="pricing-header mb-4 border-bottom pb-4">
                            <span class="mb-3 h5 plan">Free</span>
                            <p class="text-muted">User / Month</p>
                            <h1><small>$</small>0</h1>
                        </div>
                        <ul class="list-unstyled lh-45 mt-3 text-black">
                            <li>Up to 1 User</li>
                            <li>Max 100 Item</li>
                            <li>500 Queries</li>
                            <li>Basic Statistics</li>
                        </ul>
                        <a href="#" class="btn btn-solid-border mt-3 ">Join Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card text-center mb-lg-0 mb-3 " data-aos="fade-down" data-aos-delay="300"  >
                    <div class="card-body py-5">
                        <div class="pricing-header mb-4 border-bottom pb-4 active">
                           <span class="mb-3 h5 plan ">Basic</span>
                           <p class="text-muted">User / Month</p>
                            <h1><small>$</small>12</h1>
                        </div>
                        <ul class="list-unstyled lh-45 mt-3 text-black">
                            <li>Up to 5 User</li>
                            <li>Max 1000 Item</li>
                            <li>5000 Queries</li>
                            <li>Standard Statistics</li>
                        </ul>
                        <a href="#" class="btn btn-main mt-3">Join Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card text-center mb-lg-0 mb-3" data-aos="fade-down" data-aos-delay="500"  >
                    <div class="card-body py-5">
                        <div class="pricing-header mb-4 border-bottom pb-4">
                           <span class="mb-3 h5 plan">Premium</span>
                           <p class="text-muted">User / Month</p>
                            <h1><small>$</small>39</h1>
                        </div>
                        <ul class="list-unstyled lh-45 mt-3 text-black">
                            <li>Unlimited User</li>
                            <li>Unlimited Item</li>
                            <li>Unlimited Queries</li>
                            <li>Full Statistics</li>
                        </ul>
                        <a href="#" class="btn btn-solid-border mt-3">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>

