
<section class="section service bg-gray">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="section-title" >
					<h2 class="mb-4">Total Solution in one</h2>
					<p>We provide a wide range of creative services adipisicing elit. Autem maxime rem modi eaque, voluptate. Beatae officiis neque </p>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="card mb-4 p-5 text-center" data-aos="fade-up" data-aos-delay="100">
					<i class="ti-desktop text-color text-lg"></i>
					<h4 class="mb-3 mt-4">Web development</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="card mb-4 p-5 text-center " data-aos="fade-up" data-aos-delay="200">
					<i class="ti-layers text-color text-lg"></i>
					<h4 class="mb-3 mt-4 ">Interface Design</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="card mb-4 p-5 text-center " data-aos="fade-up" data-aos-delay="300">
					<i class="ti-bar-chart text-color text-lg"></i>
					<h4 class="mb-3 mt-4 ">Business Consulting</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="card mb-4 p-5 mb-lg-0 text-center " data-aos="fade-up" data-aos-delay="200">
					<i class="ti-vector text-color text-lg"></i>
					<h4 class="mb-3 mt-4 ">Branding</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="card mb-4 p-5 mb-lg-0 text-center " data-aos="fade-up" data-aos-delay="300">
					<i class="ti-android text-color text-lg"></i>
					<h4 class="mb-3 mt-4 ">App development</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="card mb-4 p-5 mb-lg-0 text-center " data-aos="fade-up" data-aos-delay="400">
					<i class="ti-pencil-alt text-color text-lg"></i>
					<h4 class="mb-3 mt-4 ">Content creation</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>
		</div>
	</div>
</section>
