
<section class="section testimonial">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="section-title">
					<h2 class="mb-4">Clients testimonial</h2>
					<p>Don’t just take our words for it. Our clients are our biggest supporters. Would you like to know what they think about us?</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row testimonial-wrap">
			<div class="testimonial-item position-relative">
				<div class="testimonial-item-content mb-4 mb-lg-0 text-center">
					<div class="test-img mx-auto">
						<img src="images/team/2.jpg" alt="" class="img-fluid rounded-circle ">
					</div>
					<h5 class="mb-0 text-capitalize mt-3">Mickel hussy</h5>
					<p class="mt-4 text-black-50">Quam maiores perspiciatis temporibus odio reiciendis error alias debitis atque consequuntur natus iusto recusandae numquam corrupti facilis blanditiis.</p>

					<div class="review-rating">
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
					</div>
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<div class="testimonial-item-content mb-4 mb-lg-0 text-center">
					<div class="test-img mx-auto">
						<img src="images/team/3.jpg" alt="" class="img-fluid rounded-circle ">
					</div>
					<h5 class="mb-0 text-capitalize mt-3">Mickel hussy</h5>
					<p class="mt-4 text-black-50">Quam maiores perspiciatis temporibus odio reiciendis error alias debitis atque consequuntur natus iusto recusandae numquam corrupti facilis blanditiis.</p>

					<div class="review-rating">
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
					</div>
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<div class="testimonial-item-content mb-4 mb-lg-0 text-center">
					<div class="test-img mx-auto">
						<img src="images/team/3.jpg" alt="" class="img-fluid rounded-circle ">
					</div>
					<h5 class="mb-0 text-capitalize mt-3">Mickel hussy</h5>
					<p class="mt-4 text-black-50">Quam maiores perspiciatis temporibus odio reiciendis error alias debitis atque consequuntur natus iusto recusandae numquam corrupti facilis blanditiis.</p>

					<div class="review-rating">
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
					</div>
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<div class="testimonial-item-content text-center">
					<div class="test-img mx-auto">
						<img src="images/team/2.jpg" alt="" class="img-fluid rounded-circle ">
					</div>

					<h5 class="mb-0 text-capitalize mt-3">Mickel hussy</h5>
					<p class="mt-4 text-black-50">Quam maiores perspiciatis temporibus odio reiciendis error alias debitis atque consequuntur natus iusto recusandae numquam corrupti facilis blanditiis.</p>

					<div class="review-rating">
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>