<!-- Section Testimonial Start -->
<section class="testimonial section bg-gray bg-4">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="testimonial-wrap text-center">
					<div class="testimonial-item position-relative">
						<i class="ti-quote-left text-color text-lg"></i>

						<p class="mt-4">Neque ipsa consequuntur excepturi quas repudiandae aliquam iste ab laboriosam id facere ducimus odio sed officia provident doloribus explicabo, magni, corrupti sit.</p>

						<div class="testimonial-author">
							<h5 class="mb-0 text-capitalize">Thomas Johnson</h5>
							<p>Excutive Director</p>
						</div>
					</div>
					<div class="testimonial-item position-relative">
						<i class="ti-quote-left text-color text-lg"></i>

						<p class="mt-4">Neque ipsa consequuntur excepturi quas repudiandae aliquam iste ab laboriosam id facere ducimus odio sed officia provident doloribus explicabo, magni, corrupti sit.</p>

						<div class="testimonial-author">
							<h5 class="mb-0 text-capitalize">Mickel hussy</h5>
							<p>Director</p>
						</div>
					</div>
					<div class="testimonial-item position-relative">
						<i class="ti-quote-left text-color text-lg"></i>

						<p class="mt-4">Neque ipsa consequuntur excepturi quas repudiandae aliquam iste ab laboriosam id facere ducimus odio sed officia provident doloribus explicabo, magni, corrupti sit.</p>

						<div class="testimonial-author">
							<h5 class="mb-0 text-capitalize">James Watson</h5>
							<p>Designer</p>
						</div>
					</div>
					<div class="testimonial-item position-relative">
						<i class="ti-quote-left text-color text-lg"></i>

						<p class="mt-4">Neque ipsa consequuntur excepturi quas repudiandae aliquam iste ab laboriosam id facere ducimus odio sed officia provident doloribus explicabo, magni, corrupti sit.</p>

						<div class="testimonial-author">
							<h5 class="mb-0 text-capitalize">Mickel hussy</h5>
							<p>Developer</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section Testimonial End -->

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-4">
				<img src="images/about/key-vision1.png" alt="" class="img-fluid w-100">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4">
				<img src="images/about/key-vision2.png" alt="" class="img-fluid w-100">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4">
				<img src="images/about/key-vision3.png" alt="" class="img-fluid w-100">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4">
				<img src="images/about/key-vision4.png" alt="" class="img-fluid w-100">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4">
				<img src="images/about/key-vision3.png" alt="" class="img-fluid w-100">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4">
				<img src="images/about/key-vision5.png" alt="" class="img-fluid w-100">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4">
				<img src="images/about/key-vision3.png" alt="" class="img-fluid w-100">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4">
				<img src="images/about/key-vision4.png" alt="" class="img-fluid w-100">
			</div>
		</div>
	</div>
</section>